body {
    background-color:#EAEAEA;
    color: #565656;
}

/** =titles =headers **/
h2.sectiontitle {
    border-radius: 0;
    border-color: transparent;
    padding: 4px;
    margin-bottom: 5px;
}

a, a:link, a:visited {
    color: #2e51ca;
    text-decoration: none;
}

a:hover {
    color: #0c598c;
    text-decoration: underline;
}

/** =menu **/
a.menu {
    list-style-image: none;
    color: white;
}

/** =tabs **/
a.tab {
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 1px;
    border: 2px solid #EAEAEA !important;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    text-decoration: none;
}

a.tab:hover {
    color: rgb(0, 61, 121);
    padding-bottom: 1px;
    border-bottom:none;
    background-color: #EAEAEA;
}

a#tabbed {
    font-size: 13px;
    font-weight: 500;
    border-bottom:none;
    background-color: #EAEAEA;
}

/* =DIVS */
div.logo {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}

div#menu {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

div#menu a {
    text-decoration: none;
    font-weight: normal;
}

div#menu a:hover {
    color: #EADD5A;
}

div#menu a#menuselect {
    color: #EAAC5A;
}

div.section {
    border: 0;
    background-color:#FDFDFD;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

div#page {
    border: none;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
}

div#userid {
    color: #EADD5A;
}

/* =Login */
#quicklogin {
    text-align: center;
}


/** =tables **/

#SectionNatPublicArpTable table > tbody > tr > td,
#SectionNatPrivateArpTable table > tbody > tr > td,
#SectionRFPublicArpTable table > tbody > tr > td {
    text-align: center;
}

.datatable.table-autosort {
    width: 100%;
}
tr.dualitem:hover, table.section .tablewrapper:hover, body#uploadpage {
    background-color: transparent;
}

/** =buttons **/
.btn-cambium {
    color: #FAFAFA;
    background-color: #003D79;
    border-color: #002a56;
}

.btn-cambium:hover, .btn-cambium:active {
    color: #FAFAFA;
    background-color: #002a56;
    border-color: #00152b;
}

/* =NAT */

#SectionNATTable .sectiontitle {
    margin-bottom: 0;
}

#SectionNATTable .section {
    width: 100%;
    padding: 0;
}

#SectionNATTable .section .singleitem > td {
    padding:0;
}

#SectionNATTable .tablewrapper {
    width: 100% !important;
    max-width: 100% !important;
}

#SectionNATTable table > tbody > tr > td {
    text-align: center;
}

#SectionNATTable #NAPTTBL table {
    border: none;
}

/* =AP Throughput */
#SectionLUIDStats .tablewrapper {
    width: 100% !important;
    max-width: 100% !important;
}

#SectionLUIDStats .sectiontitle {
    margin-bottom: 0;
}

#SectionLUIDStats .section {
    width: 100%;
    margin-bottom: 0;
}

#SectionLUIDStats .section .singleitem > td {
    padding:0;
}

#LuidOLtable {
    width: 100%;
    min-width: 100%;
    border: none;
    margin-bottom: 0;
}

#LuidOLtable tbody tr td {
    text-align: center;
    height: 39px;
}
#LuidOLtable tbody tr td:first-child {
    text-align: left;
    max-width: 520px;
}

/* AP Session page */

#LUIDListContainer .tabs_luid > ul > li {
    padding-top: 8px;
    padding-bottom: 2px;
    font-size: medium;
    border-radius: 2px 2px 0 0;
    border: 1px solid rgb(0, 61, 121);
    margin-right: 5px;
}

#LUIDListContainer .tabs_luid > ul > li:hover {
    color: rgb(0, 61, 121);
    background-color: #F0F0F0;
    border-radius: 2px 2px 0 0;
    border: 1px solid rgb(0, 61, 121);
}

#LUIDListContainer .tabs_luid > ul > li.tabActiveHeader {
    font-weight: normal;
}

#LUIDListContainer .tabsluidcontent {
    padding: 0;
    border: 1px solid rgb(0, 61, 121);
    border-radius: 2px;
    width: 99.9%;
}

/* =BRIDGING TABLE */
#SectionBTBL .section td {
    text-align: center;
}