body {
    background-color:#F0F0F0;
}

/** =titles =headers **/
h2.sectiontitle {
    border-radius: 0;
    border-color: transparent;
    padding: 4px;
    margin-bottom: 5px;
}

/** =menu **/
a.menu {
    list-style-image: none;
}

/** =tabs **/
a.tab {
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 1px;
    border: 2px solid #F0F0F0 !important;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
}

a.tab:hover {
    color: rgb(0, 61, 121);
    padding-bottom: 1px;
    border-bottom:none;
    background-color: #F0F0F0;
}

a#tabbed {
    font-size: 13px;
    font-weight: 500;
    border-bottom:none;
    background-color: #F0F0F0;
}

/* =DIVS */
div.logo {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}

div#menu {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

div.section {
    background-color:#FDFDFD;
    border-width: 1px;
    border-radius: 2px;
    -moz-border-radius: 0 0 0 2px;
    -webkit-border-radius: 0 0 0 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

div#page {
    border: none;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
}

/* =Login */
#quicklogin {
    text-align: center;
}


/** =tables **/

#SectionNatPublicArpTable table > tbody > tr > td,
#SectionNatPrivateArpTable table > tbody > tr > td,
#SectionRFPublicArpTable table > tbody > tr > td {
    text-align: center;
}

.datatable.table-autosort {
    width: 100%;
}
tr.dualitem:hover, table.section .tablewrapper:hover, body#uploadpage {
    background-color: transparent;
}

/** =buttons **/
.btn-cambium {
    color: #FAFAFA;
    background-color: #003D79;
    border-color: #002a56;
}

.btn-cambium:hover, .btn-cambium:active {
    color: #FAFAFA;
    background-color: #002a56;
    border-color: #00152b;
}

/* =NAT */

#SectionNATTable .sectiontitle {
    margin-bottom: 0;
}

#SectionNATTable .section {
    width: 100%;
    padding: 0;
}

#SectionNATTable .section .singleitem > td {
    padding:0;
}

#SectionNATTable .tablewrapper {
    width: 100% !important;
    max-width: 100% !important;
}

#SectionNATTable table > tbody > tr > td {
    text-align: center;
}

#SectionNATTable #NAPTTBL table {
    border: none;
}

/* =AP Throughput */
#SectionLUIDStats .tablewrapper {
    width: 100% !important;
    max-width: 100% !important;
}

#SectionLUIDStats .sectiontitle {
    margin-bottom: 0;
}

#SectionLUIDStats .section {
    width: 100%;
    margin-bottom: 0;
}

#SectionLUIDStats .section .singleitem > td {
    padding:0;
}

#LuidOLtable {
    width: 100%;
    min-width: 100%;
    border: none;
    margin-bottom: 0;
}

#LuidOLtable tbody tr td {
    text-align: center;
    height: 39px;
}
#LuidOLtable tbody tr td:first-child {
    text-align: left;
    max-width: 520px;
}