/** =generic **/
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.cge-color-blue-cambium {
    color: #003D79 !important;
}

.cge-bg-blue-cambium {
    background-color: #003D79 !important;
}

.cge-bg-blue-light {
    background-color: rgba(0, 152, 255, 0.15) !important;
}

.cge-error {
    padding: 10px;
    background-color: #FFCDD2;
    border: 1px solid #B71C1C;
    color: #B71C1C;
    margin: 1em;
}

.cge-error-text {
    color: #B71C1C;
}

.text-center {
    text-align: center;
}

.cge-real-time-throughput {
    font-weight: bold;
}

.cge-graph-legend-entry {
    display: inline-block;
    width:10px;
    height:10px;
    margin-right:5px;
}

.cge-highlight {
    background: #003D79;
    color:white;
}

.cge-block-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/** =apevaluation **/

.cge-ap-evaluation-entry-title {
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(0, 61, 121);
    background-color: rgb(0, 61, 121);
    color: white;
    text-align: left;
    margin: 0 0 0 0;

}

.cge-ap-evaluation-entry-table {
    width: 100%;
}

.cge-good-power-level {
    color: #3f974d;
}

.cge-decent-power-level, .cge-warning {
    color: #F9A825;
}

.cge-bad-power-level {
    color: #B71C1C;
}

.cge-highlight-eval-entry {
    background-color: rgba(0, 152, 255, 0.15) !important;
}

/* =adaptRate .betterlink, .avglink, .bestlink, .poorlink */
.cge-poorlink-text {
    color: #B71C1C;
}

.cge-avglink-text {
    color: #FFA000;
}

.cge-betterlink-text {
    color: #388E3C;
}

.cge-bestlink-text {
    color: #03A9F4;
}

/** =tooltip **/
.cge-tooltip {
    display: none;
    content: " ";
    padding:10px;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    background: #333;
    background: rgba(0,0,0,.8);
    color: #fff;
    white-space: pre-wrap;
    width: 300px;
}

.cge-tooltip::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top: 8px solid black;
    left:145px;

    bottom:-7px;
}

/* =graphs */
#RTGWrapper {
    padding:15px;
}

/* =eventlog */

#SectionEventLog table.section {
    width: auto !important;
}

#cge-event-log-wrapper .cge-event-log-divider:last-child {
    margin-bottom: 10px;
}

.cge-event-log-divider {
    padding:10px;
    background-color: #EAEAEA;
    margin-top: 10px;
    border: 1px solid #d0d0d0;
}

.cge-event-log-divider .table {
    margin-bottom: 0;
    font-size: 0.94em;
    background-color: #EAEAEA;
    width: 100%;
}

.cge-event-log-divider .table td {
    background-color: #EAEAEA;
    border-top: 1px solid #d0d0d0;
}