/** =generic **/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.cge-color-blue-cambium {
    color: #003D79 !important;
}

.cge-bg-blue-cambium {
    background-color: #003D79 !important;
}

.cge-bg-blue-light, td.cge-bg-blue-light {
    background-color: rgba(0, 152, 255, 0.15) !important;
}

.cge-error {
    padding: 10px;
    background-color: #FFCDD2;
    border: 1px solid #B71C1C;
    color: #B71C1C;
    margin: 1em;
}

.text-center {
    text-align: center;
}

.cge-real-time-throughput {
    font-weight: bold;
}

.cge-highlight {
    background: #003D79;
    color:white;
}

.cge-block-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/** =apevaluation **/

.cge-ap-evaluation-entry-title {
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgb(0, 61, 121);
    background-color: rgb(0, 61, 121);
    color: white;
    text-align: left;
    margin: 0 0 0 0;

}

.cge-ap-evaluation-entry-table {
    width: 100%;
}

.cge-good-power-level {
    color: #3f974d;
}

.cge-decent-power-level, .cge-warning {
    color: #F9A825;
}

.cge-bad-power-level {
    color: #B71C1C;
}

/* =adaptRate */
.cge-adapt-rate-color-1 {
    color: #B71C1C;
}

.cge-adapt-rate-color-2 {
    color: #FF5722;
}

.cge-adapt-rate-color-3 {
    color: #FF9800;
}

.cge-adapt-rate-color-4 {
    color: #FFA000;
}

.cge-adapt-rate-color-6 {
    color: #AFB42B;
}

.cge-adapt-rate-color-8 {
    color: #388E3C;
}

/** =popup **/

#cge_popup_body {
    background-color: #002a56;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#cge_popup_wrapper {
    padding: 15px;
}

#cge_form_settings {
    width: 350px;
}

#cge_form_wrapper {
    background-color: white;
    border:1px solid white;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#cge_form_settings hr {
    border: 0;
    border-top: 1px solid #002a56;
}

#cge_form_settings .form-group {
    padding: 5px;
}

#cge-popup-infobox {
    padding:10px;
}

/** =tooltip **/
.cge-tooltip {
    display: none;
    content: " ";
    padding:10px;
    border-radius: 2px 2px 2px 2px;
    position: absolute;
    background: #333;
    background: rgba(0,0,0,.8);
    color: #fff;
    white-space: pre-wrap;
    width: 300px;
}

.cge-tooltip::before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top: 8px solid black;
    left:145px;

    bottom:-7px;
}

/* =graphs */
#RTGWrapper {
    padding:15px;
}

/* =eventlog */

#SectionEventLog table.section {
    width: auto !important;
}

#cge-event-log-wrapper {

}

.cge-event-log-divider {
    padding:10px;
    background-color: #EAEAEA;
    margin-top: 10px;
    border: 1px solid #d0d0d0;
}

.cge-event-log-divider .table {
    margin-bottom: 0;
    font-size: 0.94em;
    background-color: #EAEAEA;
    width: 100%;
}

.cge-event-log-divider .table td {
    background-color: #EAEAEA;
    border-top: 1px solid #d0d0d0;
}